PORT=somerandomnumber
DATABASE_URL="postgresql://username:password@localhost:port/dbname?schema=public"
JWT_ACCESS_SECRET=somerandomandverylongaccessecret
JWT_REFRESH_SECRET=somerandoomandverylongrefreshtoken