
JWT_ACCESS_SECRET=your_strong_random_access_secret_here
JWT_REFRESH_SECRET=your_strong_random_refresh_secret_here
CART_PORT=3002
DATABASE_URL=postgresql://DB_USERNAME:DB_PASSWORD@localhost:5434/cart_db?schema=public

