# Cart Service Configuration
PORT=3002

# Database Configuration
CART_DATABASE_URL=postgresql://user:password@cartservice-db:5432/cart_service?schema=public

# JWT Configuration
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
