VITE_RESTAURANT_API_BASE_URL=http://localhost:3001/api/v1/servio
VITE_USER_API_BASE_URL=http://localhost:3000/api/v1/servio
VITE_CART_API_BASE_URL=http://localhost:3002/api/v1/servio
VITE_ORDER_API_BASE_URL=http://localhost:3003/api/v1/serveio
VITE_NOTIFICATION_API_BASE_URL=http://localhost:3004/api/v1/servio
VITE_NOTIFICATION_SERVICE_URL=http://localhost:3004